body{
    font-family: sans-serif;
}
.header {
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    
    width: 100%;
}
.logo{
    width: 130px;
    height: 45px;
}
.menu{
    text-transform: uppercase;
    
    font-weight: 600;
    color: #fff;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar li a{
    font-size: 17px;
    color: #fff !important;
}
/* le style de la partie d'acceuil */
#home{
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    height: auto;
}
.play{
    width: 50px;
    height: 40px;
}
.acceuil{
    width: 500px;
    height: 400px;
}
.digital{
    margin-top: 150px;

}
.digital h1{
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff !important;
}
.digital p , .digital a {
    color: #fff !important;
}
.wave1{
    width: 100%;
    height: 150px;
}
/* le style de la section services */
#about{
    background: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
}
#sercices h1{
    border: 15% solid green;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}
.title{
    text-transform: uppercase;
    
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
}
#services img{
    width: 100px;
    height: 100px;
}
#services .boutton{
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    width: 120px;
    height: 30px;
    border-radius:10px;
    margin-left:45%;
    color: #fff !important;
}
#services a{
    color: #ffff !important;
    font-weight: bolder;
    
}

/* le style de la section testimonials */
#testimonials img{
    width: 70px;
    height: 70px;
}
.border{
    background-color:#7b1798 ;
    width: 10px;
    height: 200px;
    overflow: hidden;
}

/* le style de la section sociaux */
.sociaux{
    background: #f8f9fa;
   
}
.sociaux img{
    width: 60px;
    height: 60px;
}
.lien{
    height: 200px;
    margin-top: 10px;
}
.sociaux img:hover{
    padding-bottom: 10px;
    
}


/* le style de section contacts */
#contacts{
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    color:#fff;
    font-weight: 600;
    height: 500px;
}
#contacts button{
    display: block;
   
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    border: 0px;
    border-radius: 0px;
}
hr{
   background-color: rgb(192, 191, 191);
}